# Config for training ViT-S/4 using MJEPA on CIFAR-10.
# Assumes 2xGPUs
trainer: !!python/object:mjepa.TrainerConfig
  batch_size: 512
  num_workers: 24 
  num_epochs: 1500
  check_val_every_n_epoch: 10
  sizes:
    1000: !!python/object:mjepa.ResolutionConfig
      size: [64, 64]
      batch_size: 256

backbone: !!python/object:vit.ViTConfig
  in_channels: 3
  hidden_size: 384
  ffn_hidden_size: 1536
  patch_size: [4, 4]
  img_size: [32, 32]
  depth: 12
  num_attention_heads: 12
  activation: "swiglu"
  mlp_bias: true
  attention_bias: false
  attention_dropout: 0.1
  hidden_dropout: 0.1
  drop_path_rate: 0.1
  num_register_tokens: 4
  num_cls_tokens: 4
  pos_enc: "rope"
  rope_base: 100
  rope_rescale_coords: 2.0
  rope_shift_coords: null
  rope_jitter_coords: null
  rope_normalize_coords: "separate"
  layer_scale: 0.00001
  dtype: float32
  heads:
    cls: !!python/object:vit.HeadConfig
      out_features: 10
      dropout: 0.1

jepa: !!python/object:mjepa.JEPAConfig
  momentum: 0.98
  predictor_depth: 4
  context_ratio: 0.5
  target_ratio: 0.25
  scale: 2
  scheduled: false
  gram_teacher_epoch: 300
  gram_start_epoch: 700
  gram_update_interval_epoch: 100
  gram_resolution_scale: 1.0
  gram_remove_neg: false
  gram_loss_weight: 1.0
  sigreg_loss_weight: 0.0001

optimizer: !!python/object:mjepa.OptimizerConfig
  lr: 0.0005
  weight_decay: 0.1
  betas: [0.85, 0.95]
  fused: true
  scheduled: false
  div_factor: 10